#container {
  margin: 0 auto;
  max-width: 42em; 
  font-size: 20px;
}

/* Fix this */
.income-tooltip {
  background: white;
  border: 1px solid black;
}

.example-img {
  width: 150px;
  height: 100px;
  border-radius: 25px;
}

#examples-table {
  width: 100%;
}

.example-td-title {
  width: 100px;
  text-transform: capitalize;
  font-weight: bold;
}

.example-td-text {
  width: 100%;
  text-align: left;
  padding: 5px;
}

#click-descr {
  display: block;
  margin-bottom: 2em;
}
